/*
***********************************************************
    extra small device responsive start (320px-575)
************************************************************/
@media (min-width: 320px) and (max-width:575px){
    
/*    ********** header top part start *********/
    #header-top .well-come{
        text-align: center;
    }
    
    #header-top .icon{
        text-align: center;
    }
    
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
/*    ********** header top part end *********/
    
    
    
/*    ********** navbar part start *********/
    .navbar ul{
        text-align: center;
    }
    
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    .fixed{
        margin-top: -65px;
    }
/*    ********** navbar part end *********/
    
    
/*    ********** banner part start *********/
    #banner-part .banner .overlay{
        text-align: center;
    }
    
    #banner-part .banner .overlay .text-box p{
        padding-left: 0;
    }
    
    #banner-part .banner .overlay .text-box h1{
        font-size: 30px;
    }
    
    #banner-part .banner .overlay{
        padding: 50px 0;
    }
    
    #banner-part ul li{
        display: inline-block;
    }
    
    
    #banner-part ul li button{
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #5BC5F4;
        outline: o;
    }
    
    .banner-slider{
        text-align: center;
    }
/*    ********** banner part end *********/
    
    
/*    ********** about part start *********/
    #about-part{
        padding: 30px 0;
    }
    
    #about-part .img{
        padding: 0;
    }
    
    .text{
        text-align: center;
    }
    
    .img .fit{
        width: 100%;
    }
/*    ********** about part end *********/
    
    
    
/*    ********** services part start *********/
    #services-part{
        padding: 30px 0;
    }
/*    ********** services part end *********/
    
    
    
/*    ********** portfolio part start *********/
    #portfolio-part{
        padding: 30 0;
    }
/*    ********** portfolio part end *********/
    
    
    
/*    ********** team part start *********/
    #team-part{
        padding: 30px 0;
    }
    
    #team-part .team{
        padding-top: 20px;
    } 
/*    ********** team part end *********/
    
    
    
/*    ********** testimonial part end *********/
    #testimonial-part{
        padding: 30px 0;
    }
/*    ********** testimonial part end *********/
    
    
    
/*    ********** footer part end *********/
    #footer-part .item{
        margin-top: 50px;
    }
    
    #footer-part .item h4{
        padding-bottom: 20px;
    }
    
    #footer-part .item-sm{
        width: 100%;
    }
    
    #footer-part .item-sm img{
        width: 100%;
        margin-bottom: 10px;
    }
   
/*    ********** footer part end *********/
    
    
    
/*    ********** back to top part end *********/
    .btop{
        display: none;
    }
/*    ********** back to top part end *********/
}
/*
***********************************************************
    extra small device responsive end (320px-575)
************************************************************/


















/*
***********************************************************
    small device responsive start (576px-767)
************************************************************/
@media (min-width: 576px) and (max-width: 767px){
    
/*    ********** header top part start *********/
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    #header-top .icon a i{
        margin: 0 4px;
    }
/*    ********** header top part end *********/
    
    
    
/*    ********** navbar part start *********/
    .navbar ul{
        text-align: center;
    }
    
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    .fixed{
        margin-top: -44px;
    }
/*    ********** navbar part end *********/
    
    
/*    ********** banner part start *********/
    #banner-part .banner .overlay{
        text-align: center;
    }
    
    #banner-part .banner .overlay .text-box p{
        padding-left: 0;
    }
    
    #banner-part .banner .overlay .text-box h1{
        font-size: 30px;
    }
    
    #banner-part .banner .overlay{
        padding: 50px 0;
    }
    
    #banner-part ul li{
        display: inline-block;
    }
    
    
    #banner-part ul li button{
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #5BC5F4;
        outline: o;
    }
    
    .banner-slider{
        text-align: center;
    }
/*    ********** banner part end *********/
    
    
/*    ********** about part start *********/
    #about-part{
        padding: 30px 0;
    }
    
    #about-part .img{
        padding: 0;
    }
    
    .text{
        text-align: center;
    }
    
    .img .fit{
        width: 100%;
    }
/*    ********** about part end *********/
    
    
    
/*    ********** services part start *********/
    #services-part{
        padding: 30px 0;
    }
/*    ********** services part end *********/
    
    
    
/*    ********** portfolio part start *********/
    #portfolio-part{
        padding: 30 0;
    }
/*    ********** portfolio part end *********/
    
    
    
/*    ********** team part start *********/
    #team-part{
        padding: 30px 0;
    }
    
    #team-part .team{
        padding-top: 20px;
    } 
/*    ********** team part end *********/
    
    
    
/*    ********** testimonial part end *********/
    #testimonial-part{
        padding: 30px 0;
    }
/*    ********** testimonial part end *********/
    
    
    
/*    ********** footer part end *********/
    #footer-part .item{
        margin-top: 50px;
    }
    
    #footer-part .item ul .gap-price{
        margin-left: 22px;
    }
    
    #footer-part .item ul .gap{
        margin-left: 10px;
    }
    
    #footer-part .item h4{
        font-size: 15px;
    }
    
   
/*    ********** footer part end *********/
    
    

/*
***********************************************************
    small device responsive end (576px-767px)
************************************************************/
    
    
    
    
    
    
    
    
    
    
    
    
    
/*
***********************************************************
    medium device responsive start (768px-991)
************************************************************/
@media (min-width: 768px) and (max-width: 991px){
    
/*    ********** header top part start *********/
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    #header-top .icon a i{
        margin: 0 4px;
    }
/*    ********** header top part end *********/
    
    
    
/*    ********** navbar part start *********/
    .navbar ul{
        text-align: center;
    }
    
    .small{
        background: #5BC5F4;
        padding: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    .fixed{
        margin-top: -44px;
    }
/*    ********** navbar part end *********/
    
    
/*    ********** banner part start *********/
    #banner-part .banner .overlay{
        text-align: center;
    }
    
    #banner-part .banner .overlay .text-box{
        text-align: center;
    }
    
    #banner-part .banner .overlay .text-box h1{
        font-size: 30px;
    }
    
    #banner-part .banner .overlay{
        padding: 50px 0;
    }
    
    #banner-part ul li{
        display: inline-block;
    }
    
    
    #banner-part ul li button{
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #5BC5F4;
        outline: o;
    }
    
    .banner-slider{
        text-align: center;
    }
/*    ********** banner part end *********/
    
    
/*    ********** about part start *********/
    #about-part{
        padding: 30px 0;
    }
    
    #about-part .img{
        padding: 0;
    }
    
    .text{
        text-align: center;
    }
    
    .img .fit{
        width: 100%;
    }
/*    ********** about part end *********/
    
    
    
/*    ********** services part start *********/
    #services-part{
        padding: 30px 0;
    }
/*    ********** services part end *********/
    
    
    
/*    ********** portfolio part start *********/
    #portfolio-part{
        padding: 30 0;
    }
/*    ********** portfolio part end *********/
    
    
    
/*    ********** team part start *********/
    #team-part{
        padding: 30px 0;
    }
    
    #team-part .team{
        padding-top: 20px;
    } 
/*    ********** team part end *********/
    
    
    
/*    ********** testimonial part end *********/
    #testimonial-part{
        padding: 30px 0;
    }
/*    ********** testimonial part end *********/
    
    
    
/*    ********** footer part end *********/
    #footer-part .item{
        margin-top: 50px;
    }
    
    #footer-part .item ul .gap-price{
        margin-left: 22px;
    }
    
    #footer-part .item ul .gap{
        margin-left: 10px;
    }
    
    #footer-part .item h4{
        font-size: 15px;
    }
    
   
/*    ********** footer part end *********/
    
    

/*
***********************************************************
    small device responsive end (768px-991)
************************************************************/

